<!-- <h1 class="p-4 bg-info text-center font-weight-bold">PASSENGER TASK</h1>


<mat-toolbar color="primary" class="mb-4">
    <h1 class="p-4 text-center font-weight-bold text-uppercase">airline passenger</h1>
  </mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-capitalize">airline passenger</h2>
            <p>Total Checked In <strong> {{checkedInArr.length}} / {{passengerArr.length}} </strong></p>

            passenger list
            <div class="passengerList mt-4">
                <ul class="list-group">
                    <li class="list-group-item" 
                    *ngFor="let name of passengerArr">
                        {{name.Pname}}
                    </li>
                </ul>
            </div>

            passenger card details
            <div class="passengerCard">
                <mat-card class="pb-0 mt-4 mb-4"
                *ngFor="let info of passengerArr">
                    <mat-card-content class="passengerContent p-4">
                        <div class="form-group">
                            <span class="shape"
                            [ngClass]="{
                                'bg-success' : info.CheckedIndate,
                                'bg-danger' :  info.CheckedIndate === null
                            }"></span>
                        <span><strong>Passenger Name : </strong>  {{info.Pname}} </span>
                         <input type="text" class="form-control cardInput" [placeholder]="info.Pname" 
                         [value]="info.Pname"
                          #InputControl disabled #inputRef>
                       </div>
                         <ng-template #showName>
                            <span  *ngIf="InputControl.disabled"><strong>Passenger Name : </strong>  {{info.Pname}} </span>
                         </ng-template>
                        </div>
                        
                        <p> Checked In Date : <strong 
                        *ngIf="info.CheckedIndate; else noChecked">{{info.CheckedIndate | date}} </strong>

                        <ng-template #noChecked>
                            <span><strong>Not Checked In Yet !!</strong> </span>
                        </ng-template>
                       </p>


                        <p class="m-0"><strong>Children : </strong> {{info.Childern}} </p>
                    </mat-card-content>

                        <div class="card-footer m-3">
                            <button
                            (click)="OnPassengerEdit()"
                             class='ml-4 btn btn-sm btn-warning' type="button" #onEditRef>
                                Edit
                            </button>
                             <button (click)="onUpdatePassenger()"
                             class='ml-4 btn btn-sm btn-primary'
                              style="display: none;" type="button" #onUpdateRef>
                                Update
                            </button>
                            <button class='ml-4 btn btn-sm btn-danger' type="button" #onRemove>
                              Remove 
                           </button>
                        </div>
                </mat-card>
            </div>
        </div>
    </div>
</div> -->


<app-passengerdash-board>
</app-passengerdash-board>