.passengerContent .form-group{
    position: relative;
}

.shape{
        position: absolute;
        width: 10px;
        height: 10px;
        top: 35%;
        left: -15px;
        border-radius: 5px;
}

.cardInput{
    font-size : 1.2rem;
}

.cardInput:disabled{
    background-color: transparent;
    border: #fff;
}